---
layout: collection
permalink: /publications/
title: Publications
---

{% assign publications = site.publications | sort: "year" | reverse %}
{% for pub in publications %}
<div class="pubitem">
  {% if pub.teaser-image %}
    <div class="pubteaser">
      <a href="{{pub.url}}">
        <img
          src="/assets/images/publication-pages/{{ pub.teaser-image }}_small.jpg"
          alt="{{pub.title}} publication teaser"
        />
      </a>
    </div>
  {% endif %}
  <div class="pubtitle"><a href="{{pub.url}}">{{ pub.title }}</a></div>
  <div class="pubauthors">{{ pub.authors }}</div>
  <span class="pubpublication">{{ pub.publication }}</span>, <span class="pubyear">{{ pub.year}}</span>.&nbsp;
  <span class="publinks">
    {% include publication_files.html 
      slug=pub.slug
      has-pdf=pub.has-pdf
      has-slides=pub.has-slides
      has-bibtex=pub.has-bibtex
      doi=pub.doi %}
    <!-- <a href="/downloads/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp; -->
    <!-- <a href="{{pub.url}}"><i class="fas fa-link"></i> Project Page</a> -->
  </span>
</div>
{% endfor %}
