<details open="true">
  <summary><b>Macro Code</b></summary>
  {% include code-example.html  
    language="latex"
    code=include.definition
  %}
</details><br>

<p>{{ include.description }}</p>

<!-- {{ include.content | markdownify }} -->
  
<h3>Examples</h3>
<table>
  <tr>
    <th style="text-align:center;">Code</th>
    <th style="text-align:center;">Output</th>
  </tr>
  {% for example in include.examples %}
    <tr>
      <td style="max-width: min-content;">
        <pre class="language-latex">{{ example.code_displayed }}</pre>
      </td>
      <td>
        $${{ example.code_rendered }}$$
      </td>
      {% if example.description %}
        <td>
          {{ example.description }} 
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>

{% if include.vs-code-snippets %} 
<details>
  <summary><b>VS Code Snippets</b></summary>
  In VS Code, the following code can be added to the LaTeX <a href="https://code.visualstudio.com/docs/editor/userdefinedsnippets">snippet file</a> to enable nice autocompletion of the macro:
  <pre class="language-json">{{ include.vs-code-snippets }}</pre>
</details>
<br>
{% endif %}