---
layout: collection
permalink: /uaw/ase-2022-2025-contract
title: UAW 4811 ASE Contract 2022-2025
toc: true
---


{% 
  include contract_ocr_warning.html 
  pdf_link="https://ucnet.universityofcalifornia.edu/resources/employment-policies-contracts/bargaining-units/academic-student-employees/contract/" 
  is_plural="true"
%}
{% include google_translate.html %}

<div class="contract">
  {% for article in site.uc_uaw_ase_2022-2025_contract %}
      
    <h1 class="article-header">
    {% if article.link %}
      <a href="{{ article.link }}">{{ article.title }}</a> <a href="{{ article.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
    {% else %}
      <a href="{{ article.url | relative_url }}" rel="permalink">{{ article.title }}</a>
    {% endif %}
    </h1>
    
    {{ article.content }}

  {% endfor %} 
</div>