---
layout: default
---

<style>
  @media print 
  {
      /* Set the margins of the Print version of the CV. */
      @page {
        size: auto; 
        margin: 0.5in 1in 0.3in 1in;  
      }
  }
</style>

<div id="main" role="main">
  <!-- {% include sidebar.html %} -->

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}
      <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
      <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}
    {% if page.last_modified_at %}
      <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">
    {% endif %}

    <div class="page__inner-wrap">
      <!-- No Page title here. -->

      <section class="page__content e-content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {% endif %}

        <div class="header-box avoid-page-breaks">
          <!-- <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}" style="width: 150px; border-radius: 50%;"> -->
          <h1>{{ site.author.name }}</h1>
          <p>{{page.tagline}}</p>
          <!-- <p>{{ site.author.bio }}</p> -->
          
          <div class="contact-info">
            <i class="fas fa-envelope"></i>&nbsp;
        
            {% capture email_address %}{% include my_email_address.html %}{% endcapture %}
            {% if email_address == "" %}
              {% capture email_address %}{{site.author.email}}{% endcapture %}
            {% endif %}
            {% if email_address %}
            <a href="mailto:{{ email_address }}" style="margin-right: 10px;">{{ email_address | replace: "+ws", ""}}</a>
            {% endif %}
        
            <!-- Insert Phone Number -->
            {% capture phone_number %}{% include my_phone_number.html %}{% endcapture %}
            {% if phone_number != "" %}
            <!-- In order to keep my phone number off of the internet, I make a template that is ignored by Git. Thus, to generate a PDF of my resume, I host my website locally. -->
              <i class="fas fa-phone"></i>&nbsp;<span style="margin-right: 10px;">{{ phone_number }}</span>
            {% endif %}
        
            <!-- Insert URL for Website -->
            <i class="fas fa-home"></i>&nbsp;<a style="margin-right: 10px;" href="https://paulwintz.com">paulwintz.com</a>
          </div>
        </div>

        <div class="avoid-page-breaks">
          <h2>Short Biography</h2>
          {{ page.biography }}
        </div>
        
        <div class="avoid-page-breaks">
          <h2>Research Interests</h2>
          {{ page.research-interests | join: " ⦁ " }}
        </div>

        <h2>Education</h2>
        {% for school in page.schools %}

          <!-- <div class="schoolitem avoid-page-breaks"> -->
            <table class="dateditems">
              <tr>
                <td class="item">
                  <span class="schoolname">{{ school.name }}</span> —&nbsp;<span class="schoolgpa">{{ school.gpa }}&nbsp;GPA</span>
                </td>
                <td class="date">
                  {{ school.start-date | date: "%B %Y" | replace: " ", "&nbsp;"}}-{{ school.end-date | date: "%B %Y" | default:"Present" | replace: " ", "&nbsp;"}}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  {% for item in school.items %}
                    <table class="schoolitem">
                      <tr>
                        <td style="text-align: left;"><span class="degreename">
                            {{ item.name }}</span>
                        </td>
                      <td class="resumedate"><span class="resumedate">
                          {{ item.date | date: "%B %Y" | default:" "| replace: " ", "&nbsp;"}}
                        </span></td>
                      </tr>
                    </table>
                  {% endfor %}
                  
                  {% if school.honors %} 
                    <div class="schoolcontent">
                      <ul>
                        {% for item in school.honors %}
                          <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                </td>
              </tr>
            </table>
          <!-- </div> -->
        {% endfor %}

        
        <h2>Employment</h2>
        {% for employer in page.employers %}
          <table class="dateditems">
            <tr>
              <td class="item">
                <span class="employername">{{ employer.name }}</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                {% for job in employer.jobs %}
                  <table class="dateditems">
                    <tr>
                      <td class="item">
                          {{ job.title }}
                      </td>
                      <td class="date">
                        {% if job.dates %}
                          <!-- The odd replacement we do here is to ensure non-breaking spaces before years starting with "2", e.g., " Sumemr 2023" -->
                          {{ job.dates | replace: " 2", "&nbsp;2"}}
                        {% else %}
                          {{ job.start-date | date: "%B %Y" | replace: " ", "&nbsp;"}}-{{ job.end-date | date: "%B %Y" | default:"Present" | replace: " ", "&nbsp;"}}
                        {% endif %}
                      </td>
                    </tr>
                    {% if job.highlights %} 
                      <tr>
                        <td colspan="2">
                          <ul style="margin-top: 0px; margin-bottom: 0px">
                            {% for highlight in job.highlights %}
                              <li>{{ highlight }}</li>
                            {% endfor %}
                          </ul>
                        </td>
                      </tr>
                    {% endif %}
                  </table>
                {% endfor %}
              </td>
            </tr>
          </table>
        {% endfor %}

        <h2>Teaching Experiences</h2>
        {% for teaching-experience in page.teaching-experiences %}
          <table class="dateditems">
            <tr>
              <td class="item">
                <b>{{ teaching-experience.role }}.</b>
              </td>
              <td class="date">
                {{ teaching-experience.date }}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                {{ teaching-experience.type }}: "{{ teaching-experience.name }}."
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <i>{{ teaching-experience.location }}.</i>
              </td>
            </tr>
          </table>
        {% endfor %}

        <h2>Honors</h2>
        {% for honor in page.honors %}
          <table class="dateditems">
            <tr>
              <td class="item">
                <b>{{ honor.honor }}</b>
              </td>
              <td class="date">
                {{ honor.date }}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <i>{{ honor.location }}.</i>
              </td>
            </tr>
          </table>
        {% endfor %}
        
        <h2>Publications</h2>
        {% include publication_list.html %}

        <h2>Conference Presentations</h2>
        {% for conf in page.conference-presentations %}
          <table class="dateditems">
            <tr>
              <td class="item">
                "{{ conf.title }}"
              </td>
              <td class="date">
                {{ conf.date }}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <i>{{ conf.venue }}.</i>
              </td>
            </tr>
          </table>
        {% endfor %}

        <h2>Poster Presentations</h2>
        {% for poster in page.poster-presentations %}
          <table class="dateditems">
            <tr>
              <td class="item">
                "{{ poster.title }}"
              </td>
              <td class="date">
                {{ poster.date }}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <i>{{ poster.venue }}.</i>
              </td>
            </tr>
          </table>
        {% endfor %}
        
        <h2>Service Work</h2>
        {% for service in page.service-work %}
          <table class="dateditems">
            <tr>
              <td class="item">
                <span class="degreename">{{ service.title }}</span>
              </td>
              <td class="date">
                {{ service.date }}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <i>{{ service.location }}.</i>
              </td>
            </tr>
          </table>
        {% endfor %}

        <div class="avoid-page-breaks">
          <h2>Skills</h2>
          {{ page.skills | join: " ⦁ " }}
        </div>

        <h2>Other Activities</h2>
        {% for activity in page.other-activities %}
          <table class="dateditems">
            <tr>
              <td class="item">
                <span class="activityname">
                  {{ activity.name }}
                </span>
              </td>
              <td class="date">
                {% if activity.dates %}
                  {{ activity.dates }} 
                {% elsif activity.start-date %}
                  {{ activity.start-date | date: "%B %Y" }}-{{ activity.end-date | date: "%B %Y" | default:"Present"}}
                {% endif %}
              </td>
            </tr>
            <tr colspan="2">
                <table class="dateditems">
                {% for job in activity.jobs %}
                  <tr>
                    <td class="item">
                        {{ job.title }}
                    </td>
                    <td class="date">
                      {% if job.dates %}
                        {{ job.dates }} 
                      {% elsif job.start-date %}
                        {{ job.start-date | date: "%B %Y" }}-{{ job.end-date | date: "%B %Y" | default:"Present"}}
                      {% endif %}
                    </td>
                  </tr>
                </table>
                {% endfor %}
                <tr>
                  <ul>
                    {% for highlight in activity.highlights %}
                      <li>{{ highlight }}</li>
                    {% endfor %}
                  </ul>
                </tr>
              </div>
            </tr>
          </table>
          <!-- </div> -->
        {% endfor %}

      </section>
    </div>
  </article>
</div>
