---
layout: single
---

<div class="publication-authors">{{ page.authors }}</div>
<span class="pubpublication">{{ page.publication }}</span>, <span class="pubyear">{{ page.year}}</span>

{% if pub.teaser-image %}
<div class="publication-teaser">
  <img
    src="/assets/images/publication-pages/{{ page.teaser-image }}.jpg"
    alt="project teaser"
  />
</div>
{% endif %}
{% if page.abstract %}
<h2>Abstract</h2>
{{ page.abstract }}
{% endif %}
{{ content }}
<h2 id="downloads">Downloads</h2>
  {% include publication_files.html 
    slug=page.slug
    has-pdf=page.has-pdf
    has-slides=page.has-slides
    has-bibtex=page.has-bibtex
    doi=page.doi %}