.warning-box {
  background-color: #fff8e1; /* Light yellow background for gentle warning */
  color: #8a6d3b; /* Darker text for contrast */
  border: 1px solid #f0e3b1; /* Soft border to match the background */
  padding: 15px; /* Add padding for space */
  margin-bottom: 20px; /* Space below the box */
  border-radius: 8px; /* Rounded corners */
  // font-family: Arial, sans-serif; /* Professional font */
  // font-size: 14px; /* Standard font size */
}

.warning-box strong {
  color: #795548; /* Slightly darker color for emphasis */
}

.info-box {
  background-color: #e1edff; /* Light yellow background for gentle info */
  color: #142049; /* Darker text for contrast */
  border: 1px solid #b1c1f0; /* Soft border to match the background */
  padding: 15px; /* Add padding for space */
  margin-bottom: 20px; /* Space below the box */
  border-radius: 8px; /* Rounded corners */
  // font-family: Arial, sans-serif; /* Professional font */
  // font-size: 14px; /* Standard font size */
}

.info-box strong {
  color: #485779; /* Slightly darker color for emphasis */
}
