/* ==========================================================================
   Publications
   ========================================================================== */

.pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
}

.pubauthors,
.pubyear,
.pubpublication {
  font-size: 75%;
  margin-bottom: 0.75em;
}

.pubpublication {
  font-style: italic;
}

.pubteaser {
  clear: both;
}

.pubteaser a {
  float: left;
  margin-right: 2em;
}

.pubteaser img {
  width: 100px;
  border: 1px solid black;
}

.publinks {
  font-size: 75%;
}