/* ==========================================================================
   Publications
   ========================================================================== */

.pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
  a:link {
      // Don't underline the title links unless hovering.
      text-decoration: none;
  }
}

.pubauthors,
.pubyear,
.pubpublication,
.publinks,
.pubawards {
  font-size: 90%;
  margin-bottom: 0.5em;
  margin-top  : 0.5em;
}

.pubyear,
.pubpublication,
.publinks {
  font-size: 75%;
}

.pubpublication {
  font-style: italic;
}

.pubteaser {
  clear: both;
}

.pubteaser a {
  float: left;
  margin-right: 2em;
}

.pubteaser img {
  width: 100px;
  border: 1px solid black;
}

.pubawards {
  ul { 
    // Change the bullet marker for the list of awards.
    list-style-type: "🏆 "; 
  }
  li { 
    font-size: 90%; 
    font-weight: bold;
  }
}