/* ==========================================================================
   Resume
========================================================================== */

.header-box {
  text-align: center; padding: 20px;
}

table.schoolitem, 
table.employeritem, 
table.degreeitem, 
table.activityitem {
  width: 100%;
  line-height: 1.2em;
  padding: 0em;
  margin: 0em;
  margin-bottom: 0.5em;
  // color: orange; // For debugging
  td {
    border-bottom: 0;
    padding: 0;
  } 
}

// Generic "Dated items" that are displayed in a table with the 
// item on the left and the date on the right.
table.dateditems {
  width: 100%;
  // color: green;
  // background-color: black;
  width: 100%;
  line-height: 1.2em;
  padding: 0em;
  margin: 0em;
  margin-bottom: 0.4em;
  td {
    border: none; /* Remove any borders */
    vertical-align: top; 
    padding-top: 0em;
    padding-bottom: 0.0em;
  }
  td.item {
    // Make the item flush with the left edge
    padding-left: 0px; 
    text-align: left; 
    // Add some padding above and below.
    padding-top: 0.5em; 
    padding-bottom: 0.5em; 
  }
  td.date {
    // Make the top and bottom padding match td.item!
    padding-top: 0.5em; 
    padding-bottom: 0.5em; 
    text-align: right; 
    min-width: 8em; // "8em" is wide enough to fit "Summer 2023"
    padding-left: 0.7em;
    padding-right: 0em;
    font-style: italic;
  }
}

.schoolheader, .employerheader, .activityheader {
  padding: 0;
  width: 100%;
  // table {
  //   margin-top: 0em;
  //   margin-bottom: 10em;
  //   border: none; /* Remove any borders */
  // }
  // td {
  //   padding-left: 0;
  //   border: none; /* Remove any borders */
  // }
}

.schoolcontent, .employercontent, .activitycontent {
  margin-top: 0em;
  margin-bottom: 1.2em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
}

.schoolname, .employername, .activityname {
  font-weight: bold;
  // font-size: large
  // Modidfying margin and padding here has no effect.
  // margin-bottom: 10.5em;
  // margin-left: 0em;
  // padding-bottom: 5em;
}

.schoolgpa {
  font-size: smaller
}


.resumedate {
  text-align: right; 
  vertical-align: top; 
  min-width: 20%;
  padding-left: 1em;
  font-style: italic;
}


.avoid-page-breaks {
  page-break-inside: avoid;
}

@media print {

  body {
    margin: 1in 1in 1in 1in;
  }

  .page .page__inner-wrap {
    margin-top: 0em;
  }

  .header-box {
    padding: 0px;
  }

  h1, h2, h3 {
      margin: 0.7em 0; /* Small margin for headings */
  }

  h1 {
      font-size: 20px; /* Slightly larger for headings */
  }

  .schoolheader, .employerheader, .activityheader {
    font-size: 14px;
  }

  h2 {
      font-size: 18px; /* Slightly larger for headings */
  }

  h3 {
      font-size: 14px; /* Slightly larger for headings */
  }
    
  body {
      font-size: 12px; /* Small font size */
      line-height: 1.2  ; /* Tight line spacing */
      font-family: Arial, sans-serif; /* Professional font */
      margin: 0; /* Remove default margins */
      padding: 0; /* Remove default padding */
      margin-bottom: 0.5em;
  }
  
  a {
      text-decoration: none;  /* Remove underline */
      color: inherit;         /* Inherit text color */
  }

  a[href^='http://']:after,
  a[href^='https://']:after,
  a[href^='ftp://']:after {
    // Override _print.scss, which inserts the URL of a hyperlink into printed text.
    content: "";
  }

  p {
      margin: 0em 0; /* Tight margin for paragraphs */
  }

  ul, ol {
      margin: 0; /* Remove default margin */
      padding-left: 2em; /* Indent list items */
      font-size: 12px; /* Consistent font size for lists */
  }

  li {
      margin: 0.05em 0; /* Tight margin for list items */
  }
  
  table {
    border: none; /* Remove any borders */
  }
  td {
    border: none; /* Remove any borders */
  }
}