/* ==========================================================================
   Resume
========================================================================== */

.schoolitem, .employeritem, .degreeitem, .activityitem {
  line-height: 1.2em;
}

.schoolheader, .employerheader, .activityheader {
  padding: 0;
  table {
    margin-top: 0em;
    margin-bottom: 0em;
  }
  td {
    padding-left: 0;
  }
}
.schoolcontent, .employercontent, .activitycontent {
  margin-top: 0em;
  margin-bottom: 1.2em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
}

.schoolname, .employername, .activityname {
  font-weight: bold;
  // font-size: large
}

.schoolgpa {
  font-size: smaller
}

.resumedate {
  padding-left: 1em;
  font-style: italic;
}

.degreeitem {
  padding: 0em;
  margin: 0em;
  margin-bottom: 0.5em;
  td {
    border-bottom: 0;
    padding: 0;
    // margin: 0;
  }
}

.degreename {

}