/* ==========================================================================
   TABLES
   ========================================================================== */
@use "sass:color";

table {
  // display: inline-block; // Removed line because it was preventing tables from showing as full width.
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  // font-size: $type-size-6; // Removed so that size is set by the contents.
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid color.mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid color.mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}